* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: inter;
}
.tech {
    color: white;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    font-size: 48px;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #1A0B2E;
    justify-content: space-around;
    height: 92px;
    align-items: center;
}
.wave {
    -webkit-text-stroke-width: 0.7px;
    font-size: 48px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    background: linear-gradient(
        210deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
.nav-links {
    display: flex;
    gap: 32px;
    font-size: 16px;
}
.subscribe {
    background: linear-gradient(
        210deg,
        #9100f8,
        #fb09b4,
        #f7e93f 80%
    );
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
}
.section2 {
    background-image: url(assets/hero-bg.png);
    height: 680px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 370px;
    gap: 20px;
}
.microphone {
    width: 6%;
    height: 17%;
    z-index: 1;
    position: absolute;
    top: 250px;
}
.logo {
    display: flex;
    justify-content: center;
}
#s2-header {
    color: rgba(255, 255, 255, 1);
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
#s2-para {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}
.subscribe-body {
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    border-radius: 40px;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
}