* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: inter;
}
.tech {
    color: white;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    font-size: 48px;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #1A0B2E;
    justify-content: space-around;
    height: 92px;
    align-items: center;
}
.wave {
    -webkit-text-stroke-width: 0.8px;
    font-size: 48px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    background: linear-gradient(
        210deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
.nav-links {
    display: flex;
    gap: 32px;
    font-size: 16px;
}
.subscribe {
    background: linear-gradient(
        210deg,
        #9100f8,
        #fb09b4,
        #f7e93f 80%
    );
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    position: relative;
    z-index: 2;
}
.listen {
    background: linear-gradient(
        210deg,
        #9100f8,
        #fb09b4,
        #f7e93f 80%
    );
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    position: relative;
    z-index: 2;
}
.section1 {
    background-image: url(assets/hero-bg.png);
    height: 680px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 370px;
    gap: 20px;
}
.microphone {
    width: 6%;
    height: 17%;
    z-index: 1;
    position: absolute;
    top: 250px;
}
.circle {
    width: 20%; 
    height: 35%; 
    position: absolute;
    top: 200px;
}
.logo {
    display: flex;
    justify-content: center;
}
.s2-header {
    color: rgba(255, 255, 255, 1);
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}
.s2-para {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}
.subscribe-body {
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    border-radius: 40px;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    position: relative;
    z-index: 2;
}
.section2 {
    height: 620px;
    width: 100%;
    background-color: #1A0B2E;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.s-header {
    color: white;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.s-para {
    font-size: 16px;
    color: white;
    opacity: 0.8;
}
.monthly {
    display: flex;
    justify-content: center;
}
.achievements{
    border: 1px solid gray;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 80%;
}
.items {
    height: 200px;
    margin-top: 80px;
    width: 200px;
}
.item-header {
    color: #00FF88;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.item-para {
    opacity: 0.8;
    color: white;
    font-size: 16px;
}
.section3 {
    padding-top: 100px;
    background-color: #1A0B2E;
    height: 1121px;
}
.grid-header {
    color: white;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.grid {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
}
.box {
    /* border: 1px solid red; */
    min-height: 225px;
    min-width: 380px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.premium {
    grid-row: span 2;
}
.mobile {
    grid-column: span 2;
}
.global {
    grid-column: span 2;
}
.exclusive {
    grid-column: span 2;
}
.box-header {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.box-layout {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.box-para {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
    color: white;
}
.section4 {
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
.ep-card {
    height: 425px;
    width: 370px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.episodes {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.youtube {
    border-radius: 24px 24px 0px 0px;
    border: none;
    overflow: hidden;
}
.preview-layout {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.duration {
    display: flex;
    gap: 7px;
    color: #00FF88;
}
.host {
    background-color: rgba(53, 17, 101, 0.4);
    height: 280px;
    width: 80%;
    border-radius: 40px;
}
.host-header {
    color: white;
    font-size: 32px;
    font-weight: 700;
}
.icons {
    padding: 1.5%;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 30px;
}
.footer {
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 300px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.tech-footer {
    color: white;
    font-weight: 900;
    font-size: 48px;
}
.wave-footer {
    font-size: 48px;
    font-weight: 900;
    background: linear-gradient(
        210deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons:hover {
    cursor: pointer;
}
.footer-links {
    padding-right: 10px;
}
.footer-para {
    display: flex;
}
.footer-para a {
    text-decoration: none;
    display: flex;
    color: gray;
}
.footer-links {
    display: flex;
    gap: 42px;
}
.hamburger {
    display: none;
}
.podcast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }
    .tech {
        font-size: 30px;
    }
    .wave {
        font-size: 30px;
    }
    .hamburger {
        display: block;
    }
    .subscribe {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;   
    }
    .circle {
        width: 45%;
        top: 80px;
        height: 30%;
    }
    .microphone {
        width: 11%;
        height: 12%;
        top: 140px;
    }
    .buttons {
        display: flex;
        gap: 8px;
    }
    .section1 {
        /* height: 550px; */
        padding-top: 200px;
        height: 545px;
    }
    .s2-header {
        font-size: 40px;
    }
    .s2-para {
        padding: 0px 20px 0px 20px;
    }
    .s-header {
        font-size: 32px;
    }
    .achievements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin-top: 30px;
    }
    .items {
        height: 30px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .podcast {
        gap: 0px;
    }
    .section2 {
        height: 600px;
        padding-bottom: 270px;
    }
    .grid-header {
        font-size: 32px;
    }
    .grid {
        grid-template-columns: 1fr;
        padding: 0px 20px 0px 20px;
    }
    .section3 {
        height: auto;
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .premium {
    grid-row: span 1;
    }
    .mobile {
        grid-column: span 1;
    }
    .global {
        grid-column: span 1;
    }
    .exclusive {
        grid-column: span 1;
    }
    .episodes {
        flex-direction: column;
    }
    .host-div {
        flex-direction: column;
    }
    .host-image {
        height: 150px;
        width: 150px;
    }
    .host {
        height: 500px;
        text-align: center;
    }
    .icon-img {
        justify-content: center;
    }
    .host-header {
        font-size: 24px;
    }
    .footer {
        height: 244px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}